body{
    background: radial-gradient(circle, #000,#000);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
}
.flower{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 100% auto;
}   
.center{
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    background: yellow;
    border-radius: 50%;
    top: 60px;
    left: 80px;
    animation: pulse 2s infinite 4s;

}
.click{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    border-radius: 20px;
    padding: 5px 10px;
    bottom: 50px;
    background: #e062a5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-align: center;
}
.click:hover{
    background: #ff1493;
    box-shadow: 0 0 10px #ff1493;
}
.petal{
    position: absolute;
    top: 0px;
    width: 40px;
    left: 80px;
    height: 80px;
    background: linear-gradient(to bottom, #FF6984,#FF1493) ;
    border-radius: 20px 20px 0 0;
    transform-origin: bottom center;
    opacity: 0;
    animation: bloom 4s forwards;

    /* width: 60px;
    height: 60px;
    background: rgb(255, 192, 203);
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.6); */
}
@keyframes bloom {
    0%{
        transform: rotate(0deg) scale(0);
        opacity: 0;
    }
    100%{
        transform: rotate(var(--rot)) scale(1);
        opacity: 1;
    }
}
@keyframes pulse{

    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    
}
.petal:nth-child(1){
    --rot: 0deg;
    animation-delay: 0.2s;
}
.petal:nth-child(2){
    --rot: 30deg;
    animation-delay: 0.4s;
}
.petal:nth-child(3){
    --rot: 60deg;
    animation-delay: 0.6s;
}
.petal:nth-child(4){
    --rot: 90deg;
    animation-delay: 0.8s;
}
.petal:nth-child(5){
    --rot: 120deg;
    animation-delay: 1s;
}
.petal:nth-child(6){
    --rot: 150deg;
    animation-delay: 1.2s;
}   
.petal:nth-child(7){
    --rot: 180deg;
    animation-delay: 1.4s;
}   
.petal:nth-child(8){
    --rot: 210deg;
    animation-delay: 1.6s;
}
.petal:nth-child(9){
    --rot: 240deg;
    animation-delay: 1.8s;
}
.petal:nth-child(10){
    --rot: 270deg;
    animation-delay: 2s;
}
.petal:nth-child(11){
    --rot: 300deg;
    animation-delay: 2.2s;
}
.petal:nth-child(12){
    --rot: 330deg;
    animation-delay: 2.4s;
}